LASTFM_API_KEY=your_lastfm_api_key
LASTFM_USERNAME=your_lastfm_username
R2_ENDPOINT=your_r2_endpoint
R2_ACCESS_KEY=your_r2_access_key
R2_SECRET_KEY=your_r2_secret_key
R2_BUCKET_NAME=your_r2_bucket_name
CF_ACCOUNT_ID=your_cloudflare_account_id
CF_GRAPHQL_TOKEN=your_cloudflare_graphql_token
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
SPOTIFY_REFRESH_TOKEN=your_spotify_refresh_token
